{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <h2>Välkommen till MVC!</h2>
    <img src="{{ asset('img/stoat_wild.jpg') }}" alt="">
    <p>Jag heter Claes och detta är min hemsida för MVC-kursen. Jag har hållit på med design tidigare och tänkte nu hålla på lite med kodning också. På min fritid gillar jag att gå på gymmet och att titta på filmer, eller spela spel, men nu med heltidsstudier blir det inte lika mycket tid över för sådant!</p>
{% endblock %}