{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <div class="fancy-font">
        <h2>"{{ quote }}"</h2>
        <h3>— {{ author }}</h3>
        <img src="{{ asset('img/' ~ photo) }}" alt="">
    </div>
{% endblock %}