{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-columns">
        <div class="left-column">
            <h2>Report-sidan</h2>

            <h3 id="kmom01">KMOM01</h3>
            <p>Den enda objektorienteringen jag gjort innan är i huvudsak från oopython-kursen. Jag tror även att det har varit några få saker här och där i tidigare kurser också, men inget som uttryckligen var särskilt fokuserat på just oo-biten. Men just de objekt-orienterade delarna i oopython tyckte jag var intressanta innan den kursen spårade ur till att hålla på med något helt annat.</p>

            <p>PHPs modell för oo verkar likna det jag lärt mig hittils. Du har en klass som är själva mallen, och sedan skapar du objekt utifrån den mallen. Klassen har egna metoder som du då kan använda på ditt objekt för att göra saker, som att ändra värden på data.</p>

            <p>Det här med routers och dylikt känns ju igen från tidigare. På gott och ont, skulle jag nog säga. Man känner igen sig, men samtidigt är det annorlunda syntax och vid något tillfälle satt jag faktiskt och bara funderade på vilket kodspråk jag höll på med just då. Men hittils har det väl varit bra, inga större komplikationer.</p>

            <p>Jag skulle inte kalla "PHP The Right Way" för en artikel, mer som en bibel. Jag hade tekniska problem direkt från början så jag kan inte påstå att jag hunnit sätta mig in i den i någon större bemärkelse. Men jag hoppas att denna kursen bibehåller sitt fokus på objekt-orienteringen.</p>

            <p>TIL: Labbmiljöerna ger gråa hår, alltid ska det vara något som strular!</p>

            <h3 id="kmom02">KMOM02</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom03">KMOM03</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom04">KMOM04</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom05">KMOM05</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom06">KMOM06</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom07">KMOM07/10</h3>
            <p>Här kommer text allt eftersom!</p>
        </div>
        <div class="right-column">
            <h2>Länkar</h2>
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom07">Kmom07/10</a></li>
            <ul>
        </div>
    </div>
{% endblock %}