{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-columns">
        <div class="left-column">
            <h2>Report-sidan</h2>

            <h3 id="kmom01">KMOM01</h3>
            <p>Den enda objektorienteringen jag gjort innan är i huvudsak från oopython-kursen. Jag tror även att det har varit några få saker här och där i tidigare kurser också, men inget som uttryckligen var särskilt fokuserat på just oo-biten. Men just de objekt-orienterade delarna i oopython tyckte jag var intressanta innan den kursen spårade ur till att hålla på med något helt annat.</p>

            <p>PHPs modell för oo verkar likna det jag lärt mig hittils. Du har en klass som är själva mallen, och sedan skapar du objekt utifrån den mallen. Klassen har egna metoder som du då kan använda på ditt objekt för att göra saker, som att ändra värden på data.</p>

            <p>Det här med routers och dylikt känns ju igen från tidigare. På gott och ont, skulle jag nog säga. Man känner igen sig, men samtidigt är det annorlunda syntax och vid något tillfälle satt jag faktiskt och bara funderade på vilket kodspråk jag höll på med just då. Men hittils har det väl varit bra, inga större komplikationer.</p>

            <p>Jag skulle inte kalla "PHP The Right Way" för en artikel, mer som en bibel. Jag hade tekniska problem direkt från början så jag kan inte påstå att jag hunnit sätta mig in i den i någon större bemärkelse. Men jag hoppas att denna kursen bibehåller sitt fokus på objekt-orienteringen.</p>

            <p>TIL: Labbmiljöerna ger gråa hår, alltid ska det vara något som strular!</p>

            <h3 id="kmom02">KMOM02</h3>
            <p>Arv är när en subklass ärver från en basklass, t.ex. som när CardGraphic ärver egenskaper från basklassen Card. Komposition är när ett objekt från en klass innehåller objekt från en annan klass, t.ex. som när ett CardDeck-objekt innehåller flera CardGraphic-objekt. Interface kan man tänka på som en ritning som måste följas, den definerar att en klass som använder sig at det interfacet måste innehålla vissa saker. Trait är externa metoder som flera olika klasser kan använda sig av, så att samma metoder inte behöver defineras på flera olika ställen.</p>

            <p>Jag är väl nöjd med slutresultatet men det känns som det var mycket som var väldigt öppet för tolkning, så jag vet inte riktigt om allt jag gjort är rätt eller fel, t.ex. har jag ingen aning om hur man ska få ut session i browsern, antingen fick man ut 10000 rader med ALLT eller så fick jag sitta och handkoda precis det jag ville få ut. Lite samma med API-biten, vet inte om jag totalt missat något men vad POST och GET betyder i detta sammanhang har jag ingen riktig aning om, så jag gjorde bara samma sak för alltihopa så som i exemplet.</p>

            <p>Själva klasserna tycker jag fungerar bra dock, men efter att ha blivit totalt utbränd under oopython och databas-kurserna så var ytterligare ett spel det absolut sista jag ville ha att göra med. Det är Yahtzee och tärningar och kort och gud vet vad, finns det inga andra sätt att förklara dessa principer? Kan ju inte tänka mig att detta är vad objektorientering huvudsakligen används till i "verkligheten".</p>

            <p>Att det sedan är typ en 20-punkters lista med saker man ska göra.. Även om allt inte är enorma saker så känns det ju bara väldigt överväldigande och mycket. Att kmom03 är ännu större gör mig inte särskilt pepp på fortsättningen.</p>

            <p>TIL: Tydligen måste jag ha minst TIO commits till Github för att få godkänt på kmom02. Väldigt bizarrt att detta inte nämns någonstans, utöver ett luddigt (icke-krav) om att "göra många commits". Så jag får väl sitta här och slösa tid med att göra en massa fejk-commits. Skärpning!</p>

            <h3 id="kmom03">KMOM03</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom04">KMOM04</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom05">KMOM05</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom06">KMOM06</h3>
            <p>Här kommer text allt eftersom!</p>

            <h3 id="kmom07">KMOM07/10</h3>
            <p>Här kommer text allt eftersom!</p>
        </div>
        <div class="right-column">
            <h2>Länkar</h2>
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom07">Kmom07/10</a></li>
            <ul>
        </div>
    </div>
{% endblock %}